$footer-background-color: #232323 !default;
$footer-text: #d2d2d2 !default;
$logo-color: $footer-text;
$footer-social-icons: $footer-text;
$footer-links-navigation-color: $footer-text;

.footer-navigation {
  background-color: $footer-background-color;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .language-selector {
    button {
      color: $footer-text;
      padding: 0;
      border: unset;
      background-color: unset;
    }
  }
}

.footer-copyright {
  color: $logo-color;
  font-size: 0.9rem;
  display: block;
  line-height: 1.1;
  padding: .8rem 0;
}

.footer-links-navigation {
  color: $footer-links-navigation-color;
  flex-basis: 260px;
  min-width: 200px;
  font-size: 0.9rem;

  span {
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0.1rem 0.1rem 0.1rem 0;
      padding: 0.1rem 0.1rem 0.1rem 0;
    }

    a {
      color: $footer-links-navigation-color;
    }
  }
}

.footer-social {
  flex-basis: 50px;

  &__badge {
    margin-right: 1.5rem;
  }

  a {
    color: $footer-social-icons;
  }
}

.footer-additional-logos {
  padding: 25px 65px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  &__line {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    border-block-end: 1px solid #dedede;
    padding: 1rem 0 1.6rem 0;
    flex-basis: 0;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    img {
      max-height: 4rem;
      padding: 0 .5rem;
      max-width: 100%;
    }

    &:last-child {
      border: none;
    }
  }
}

.modal-terms-of-service {
  .pgn__form-label{
    .standalone-link {
      &:before {
        // Add a white space before MODAL TOS checkbox links
        content: "\00a0";
      }
    }
  }
}
